@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Fira+Sans&display=swap");
$title-font: "Fira Sans";
$content-font: "Bitter";
$small-text: 0.75rem;
$normal-text: 1rem;
$big-text: 2rem;
